<div class="single-carousel">
    <div class="main-article-top">
        <h1>Local News</h1>
        <div class="arrows">
            <img class="a-left control-c prev slick-prev" id="local-news-prev" src="/static/img/icons/prevArrowNewsCarousel.png" alt="Previous arrow" />
            <img class="a-left control-c next slick-next" id="local-news-next" src="/static/img/icons/nextArrowNewsCarousel.png" alt="Next arrow" />
        </div>
    </div>
    <div class="articles local-news-slider">
    {% for post in news %}
        <a class="medium-article" href="/single">
            <img src="{{ post.getFeaturedImage }}" alt="Article image" />
            <div class="article-date-and-views">
                <p>{{ post.getPublishDate|date('F d, Y') }}</p>
            </div>
            <p class="article-title">{{ post.getTitle }}</p>
        </a>
    {% endfor %}
    </div>
</div>