<div>
{{
pimcore_renderlet('configuration', {
    "controller" : "renderlets/Configuration",
    "action" : "conf",
    "title" : "Drag and drop configuration folder here",
    "height" : 200,
})
}}
</div>
<div style="padding: 10px 0;">
{{pimcore_input('nesto')}}
</div>