<div class="social-networks">
    <a class="social-network" href="/single">
        <div class="social-icon"><img src="/static/img/social/facebook.png" /></div>
        <div class="social-text">Like</div>
        <div class="social-number">25041 Fans</div>
    </a>
    <a class="social-network" href="/single">
        <div class="social-icon"><img src="/static/img/social/twitter.png" /></div>
        <div class="social-text">Follow</div>
        <div class="social-number">25041 Followers</div>
    </a>
    <a class="social-network" href="/single">
        <div class="social-icon"><img src="/static/img/social/youtube.png" /></div>
        <div class="social-text">Subscribe</div>
        <div class="social-number">941 Subscribers</div>
    </a>
</div>