<ul>
{% for category in categories %}
    <li>
        <a href="{{path(category)}}" 
            id="{{category.getKey()|lower}}"
            {% if category.getId() == current_category_id %}class="active"{% endif %}>
            {{category.getTitle}}
        </a>
    </li>
{% endfor %}
</ul>