<ul>
{% for category in categories %}
    <li>
        <a href="{% if category.getKey()|lower == "news" %}/{% else %}{{path(category)}}{% endif %}" 
            id="{{category.getKey()|lower}}"
            {% if path(category)|split('?')[0] == current_url or (current_url == "/" and category.getKey()|lower == "news" ) %}class="active"{% endif %}>
            {{category.getTitle}}
        </a>
    </li>
{% endfor %}
</ul>