// importing abstracts
@import "abstracts/variables";
@import "abstracts/mixins";

// importing base
@import "base/reset";
@import "base/typography";

// importing components
@import "components/banner";
@import "components/sliders";
@import "components/aside";
@import "components/video";
@import "components/video_testemonial";

// importing layouts
@import "layouts/alert";
@import "layouts/header";
@import "layouts/center-articles";
@import "layouts/testemonials";
@import "layouts/footer";


.main-content {
    margin: 0 auto;
    max-width: $maxWidth;
}
nav {
    background-color: rgb(177, 177, 177);
    text-align: center;
    ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px;
    }
}

a {
    color: black;
}
.gallery {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Pimcore edit style */
.edit {
    div {
        color: black;
        background-color: transparent;
    }
}