* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #000000;
}

body {
  overflow-x: hidden;
  width: 100%;
  color: black;
  background-color: #eeeeee;
  font-family: "Bitter";
  font-size: 14px;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: inherit;
}

hr {
  border-style: solid;
}

.control-c:hover {
  cursor: pointer;
}

h1 {
  font-family: "Bitter";
}

a {
  font-family: "Varela Round";
  font-size: 14px;
}

p {
  font-family: "Bitter";
  font-size: 14px;
}

.banner {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #D7D7D7;
  margin: 20px 0;
  background: #FFFFFF;
}
.banner p {
  color: grey;
  font-weight: normal;
  font-family: "Varela Round", sans-serif;
}

.post-banner-image {
  position: relative;
}
.post-banner-image img {
  width: 100%;
}
.post-banner-image .banner-image-text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0 30px 30px;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, white 70%);
}
.post-banner-image .banner-image-text .text {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.post-banner-image .banner-image-text p {
  font-family: "Varela Round", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #222222;
}
.post-banner-image .banner-image-text h1 {
  padding-top: 15px;
  width: 80%;
  font-weight: bold;
  font-size: 44px;
  line-height: 52, 8px;
  color: #222222;
}

.article-slider .slick-arrow {
  z-index: 1;
}
.article-slider .slick-prev {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 45%;
  left: 28px;
}
.article-slider .slick-next {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 45%;
  right: 28px;
}
.article-slider .arrows {
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.article-slider .arrows img {
  height: 36px;
  pointer-events: visible;
}
.article-slider .arrows img:last-child {
  transform: rotateY(180deg);
}

.slick-slide {
  position: relative;
}
.slick-slide .slider-image {
  width: 100%;
  height: 425px;
  -o-object-fit: cover;
     object-fit: cover;
}
.slick-slide .image-info {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
  width: 100%;
  height: 45%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 70%);
}
.slick-slide .image-info .article-info {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}
.slick-slide .image-info .article-info .article-date {
  font-family: "Varela Round", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #EEF6FA;
}
.slick-slide .image-info .article-info .article-comments {
  padding-left: 15px;
  font-family: "Varela Round", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #EEF6FA;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.slick-slide .image-info .article-info .article-comments img {
  padding-right: 6px;
}
.slick-slide h1 {
  font-family: "Bitter";
  font-weight: bold;
  font-size: 34px;
  line-height: 40, 8px;
  color: #EEF6FA;
  width: 70%;
  letter-spacing: 2px;
  padding-bottom: 10px;
}
.slick-slide .article-link {
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
  display: inline-block;
  width: 15%;
  text-align: center;
  padding: 5px 15px;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}

.bottom-slick {
  position: relative;
  margin-bottom: 15px;
}
.bottom-slick .slider-for {
  position: relative;
}
.bottom-slick .slider-for .arrows .slick-arrow {
  z-index: 1;
}
.bottom-slick .slider-for .arrows .slick-arrow:last-child {
  transform: rotateY(180deg);
}
.bottom-slick .slider-for .slick-prev {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 35%;
  left: 28px;
}
.bottom-slick .slider-for .slick-next {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 35%;
  right: 28px;
}
.bottom-slick .slider-for .search-icon {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.bottom-slick .slider-for .search-icon:hover {
  cursor: pointer;
}
.bottom-slick .slider-for .search-icon img {
  width: 80px;
  height: auto;
}
.bottom-slick .slider-for .slider-img img {
  width: 100%;
}
.bottom-slick .slider-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 80%);
}
.bottom-slick .slider-nav div {
  cursor: pointer;
}
.bottom-slick .slider-nav .slick-list {
  margin: 0 auto;
}
.bottom-slick .slider-nav .slick-list .slick-track {
  margin: 0;
  padding: 0;
  width: 100% !important;
  display: flex;
  flex-direction: row;
}
.bottom-slick .slider-nav .slick-list .slick-track .slick-slide {
  margin: 0;
  padding: 0;
}
.bottom-slick .slider-nav .slick-list .slick-track .slick-slide img {
  width: 100%;
  padding: 15px 5px;
}

aside {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 302px;
  width: 100%;
  margin: 15px 0;
}
aside .aside-articles {
  position: relative;
  background-color: #4D4382;
}
aside .aside-articles::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  mix-blend-mode: normal;
  opacity: 0.2;
  background-color: #000000;
  pointer-events: none;
}
aside .aside-articles .aside-articles-links {
  z-index: 2;
}
aside .aside-articles .aside-articles-links ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 25px;
}
aside .aside-articles .aside-articles-links ul li {
  display: inline-block;
}
aside .aside-articles .aside-articles-links ul li a {
  font-family: "Varela Round";
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF4D;
}
aside .aside-articles .aside-articles-links ul li a.active {
  color: #FCC44D;
  border-bottom: 1px solid #FCC44D4D;
}
aside .aside-articles .article {
  padding: 18px 25px;
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #4D4382;
  margin: 2px 0;
}
aside .aside-articles .article:hover::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  mix-blend-mode: normal;
  opacity: 0.1;
}
aside .aside-articles .article .article-content {
  display: flex;
  flex-direction: column;
  padding: 5px 12px 0 0;
  width: 70%;
}
aside .aside-articles .article .article-content .article-info {
  display: flex;
  flex-direction: column;
}
aside .aside-articles .article .article-content .article-info .article-date {
  font-family: "Varela Round", sans-serif;
  font-size: 10px;
  color: #ACB3BA;
}
aside .aside-articles .article .article-content .article-info .article-title {
  font-family: "Bitter";
  font-weight: bold;
  font-size: 14px;
  line-height: 16.8px;
  color: #FFFFFF;
}
aside .aside-articles .article .article-content .article-comments {
  font-family: "Varela Round";
  font-size: 10px;
  text-align: right;
  color: #ACB3BA;
}
aside .aside-articles .article .article-image {
  width: 30%;
  border: 3px solid #FFFFFF;
  box-shadow: 0px 1px 1px rgba(0, 0, 1, 0.3);
}
aside .aside-articles .article .article-image img {
  width: 100%;
  height: 100%;
}
aside .aside-social {
  margin: 15px 0;
}
aside .aside-social .aside-social-title {
  font-family: "Bitter";
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  padding: 15px 0;
}
aside .aside-social .social-networks {
  display: flex;
  flex-direction: column;
}
aside .aside-social .social-networks .social-network {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3px 0;
}
aside .aside-social .social-networks .social-network .social-icon {
  width: 40px;
  height: 40px;
}
aside .aside-social .social-networks .social-network .social-icon img {
  width: 100%;
  height: 100%;
}
aside .aside-social .social-networks .social-network .social-text {
  width: 40%;
  display: flex;
  align-items: center;
  background-color: #DDDDDD;
  padding: 0 10px;
  font-family: "Bitter";
  color: #363F48;
  font-weight: bold;
  font-size: 18px;
}
aside .aside-social .social-networks .social-network .social-number {
  width: 50%;
  display: flex;
  align-items: center;
  background-color: #4D4382;
  padding: 0 10px;
  font-family: "Varela Round";
  font-size: 14px;
  color: #FFFFFF;
}
aside .aside-tv {
  background-color: #FFFFFF;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 18px;
}
aside .aside-tv .aside-tv-title {
  font-family: "Bitter";
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  padding: 15px 25px;
}
aside .aside-tv .aside-tv-link {
  /* fix for pimcore iframe mask clipping over */
}
aside .aside-tv .aside-tv-link .pimcore_iframe_mask {
  display: none;
}
aside .aside-tv .aside-tv-link .aside-tv-video {
  width: 100%;
}
aside .aside-tv .aside-tv-link .aside-tv-text {
  padding: 15px;
}
aside .aside-tv .aside-tv-link .aside-tv-text .aside-tv-date {
  font-family: "Varela Round", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #666666;
}
aside .aside-tv .aside-tv-link .aside-tv-text .aside-tv-article-title {
  color: #363F48;
  font-family: "Bitter";
  font-weight: bold;
  font-size: 14px;
  line-height: 16.8px;
}
aside .aside-banners {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #DDDDDD;
  padding: 15px;
  margin-bottom: 18px;
}
aside .aside-banners .banner {
  width: 128px;
  height: 128px;
  background-color: #FFFFFF;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
aside .aside-banners .banner p {
  color: #999999;
}
aside .aside-facebook {
  padding: 15px;
  background-color: #FFFFFF;
}

.video-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

video {
  width: 200px;
  height: auto;
}

.testemonials {
  position: fixed;
  top: calc(100% - 450px);
  right: 1em;
  width: 220px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testemonials .video-testemonial {
  position: absolute;
  top: 0;
  width: 220px;
  height: 360px;
  background-color: #253342;
  color: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
  transform: scale(1, 1);
  transition: transform 0.8s ease-in-out;
}
.testemonials .video-testemonial.z-ind-1 {
  z-index: 6;
}
.testemonials .video-testemonial.z-ind-2 {
  z-index: 4;
}
.testemonials .video-testemonial.z-ind-3 {
  z-index: 2;
}
.testemonials .video-testemonial.tab-1 {
  top: 0;
  transform: scale(1, 1);
}
.testemonials .video-testemonial.tab-2 {
  top: 10px;
  transform: scale(0.9, 1);
}
.testemonials .video-testemonial.tab-3 {
  top: 20px;
  transform: scale(0.8, 1);
}
.testemonials .video-testemonial p {
  color: #FFFFFF;
  font-family: "Varela Round";
  line-height: 1;
  font-weight: bold;
}
.testemonials .video-testemonial .video {
  position: relative;
  height: 280px;
  margin-top: 8px;
}
.testemonials .video-testemonial .video::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(0deg, #000, transparent);
}
.testemonials .video-testemonial .video video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 280px;
  border-radius: 5px 5px 0 0;
}
.testemonials .video-testemonial .video .buttons {
  position: absolute;
  top: 1em;
  right: 1em;
}
.testemonials .video-testemonial .video .buttons .video-play-button {
  background-color: transparent;
  border: none;
}
.testemonials .video-testemonial .video .buttons .video-play-button i {
  font-size: 2rem;
  color: #FFFFFF;
}
.testemonials .video-testemonial .video .about {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 8px;
  z-index: 1;
}
.testemonials .video-testemonial .video .about img {
  border-radius: 50px;
  border: 1px solid white;
}
.testemonials .video-testemonial .video .about .author-info {
  padding-left: 10px;
  font-family: "Varela Round";
  line-height: 1;
  font-weight: bold;
  font-size: 12px;
}
.testemonials .video-testemonial .video .about .author-info span {
  color: #FFFFFF;
  font-weight: normal;
}
.testemonials .video-testemonial .video .about .author-info .name {
  color: #FFFFFF;
}
.testemonials .video-testemonial .video .about .author-info .job-title {
  color: #FFFFFF;
  font-weight: normal;
}

.video-testemonial-modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-animation: fadeIn 0.4s forwards;
          animation: fadeIn 0.4s forwards;
}
.video-testemonial-modal.out {
  -webkit-animation: fadeOut 0.5s forwards;
          animation: fadeOut 0.5s forwards;
}
.video-testemonial-modal.out .modal-content {
  -webkit-animation: scaleDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: scaleDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.video-testemonial-modal .modal-content {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 36px 12px 8px 12px;
  border-radius: 0.125rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 380px;
  max-height: 100%;
  background-color: #FFFFFF;
  -webkit-animation: slideIn 0.4s forwards;
          animation: slideIn 0.4s forwards;
}
.video-testemonial-modal .modal-content .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  width: 25px;
  height: 25px;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
  margin: 5px -13px 0 0;
  background-color: #FFFFFF;
  border: none;
  border-radius: 20px;
}
.video-testemonial-modal .modal-content .close i {
  font-size: 15px;
}
.video-testemonial-modal .modal-content .description {
  position: relative;
  width: 100%;
  margin-bottom: 34px;
  font-size: 0.875rem;
  padding-left: 10px;
  font-family: "Varela Round";
  line-height: 1.2;
  font-weight: bold;
}
.video-testemonial-modal .modal-content .description::before {
  content: "";
  width: 4px;
  border-radius: 99px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
}
.video-testemonial-modal .modal-content .content {
  width: 100%;
}
.video-testemonial-modal .modal-content .content video {
  width: 100%;
  border-radius: 10px;
}
.video-testemonial-modal .modal-content .author {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.video-testemonial-modal .modal-content .author img {
  border-radius: 50px;
  border: 1px solid #45cad6;
}
.video-testemonial-modal .modal-content .author .author-info {
  padding-left: 10px;
  color: #000000;
  font-family: "Varela Round";
  line-height: 1;
  font-weight: bold;
}
.video-testemonial-modal .modal-content .author .author-info .job-title {
  font-size: 12px;
  font-weight: normal;
}

@-webkit-keyframes slideIn {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  99% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  99% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@-webkit-keyframes scaleDown {
  from {
    top: 50%;
    opacity: 1;
  }
  to {
    top: -300px;
    opacity: 0;
  }
}
@keyframes scaleDown {
  from {
    top: 50%;
    opacity: 1;
  }
  to {
    top: -300px;
    opacity: 0;
  }
}
.alert {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 30%;
  text-align: center;
  z-index: 1000;
}

header {
  width: 100%;
}

.top-navigation {
  width: 100%;
  height: 53px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #252525;
}
.top-navigation .top-navigation-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 960px;
}
.top-navigation .top-navigation-content .top-navigation-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.top-navigation .top-navigation-content .top-navigation-brand .top-logo {
  position: relative;
  height: 100%;
  width: 63px;
}
.top-navigation .top-navigation-content .top-navigation-brand .top-logo::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 63px;
  mix-blend-mode: normal;
  opacity: 0.05;
  background-color: #FFFFFF;
}
.top-navigation .top-navigation-content .top-navigation-brand .top-logo img {
  position: absolute;
  width: 14px;
  height: 21px;
  left: 23px;
  top: 15px;
}
.top-navigation .top-navigation-content .top-navigation-brand h1 {
  padding: 16px 9px 9px;
  font-family: "Bitter";
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.top-navigation .top-navigation-content .top-navigation-links {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.top-navigation .top-navigation-content .top-navigation-links ul li {
  display: inline;
  padding: 5px;
  margin-right: 15px;
}
.top-navigation .top-navigation-content .top-navigation-links ul li a {
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
  height: 27px;
  color: #FFFFFF;
}
.top-navigation .top-navigation-content .top-navigation-links ul li a:hover {
  mix-blend-mode: normal;
  opacity: 0.7;
}
.top-navigation .top-navigation-content .top-navigation-links .top-navigation-search {
  height: 100%;
  width: 62px;
  background-color: transparent;
  border: none;
}
.top-navigation .top-navigation-content .top-navigation-links .top-navigation-search::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 62px;
  mix-blend-mode: normal;
  opacity: 0.05;
  background-color: #FFFFFF;
}
.top-navigation .top-navigation-content .top-navigation-links .top-navigation-search:hover {
  cursor: pointer;
}
.top-navigation .top-navigation-content .top-navigation-links .top-navigation-search img {
  width: 16px;
  height: 16px;
}

.lower-navigation {
  width: 100%;
  height: 53px;
  background-color: #4D4382;
  display: flex;
  justify-content: center;
}
.lower-navigation .lower-navigation-content {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 960px;
  /* areablock fix */
}
.lower-navigation .lower-navigation-content .pimcore_area_category {
  height: 100%;
  width: 100%;
}
.lower-navigation .lower-navigation-content ul {
  height: 100%;
  display: flex;
  flex-direction: row;
}
.lower-navigation .lower-navigation-content ul li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.lower-navigation .lower-navigation-content ul li a {
  font-family: "Bitter";
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 6px 16px;
  color: #FFFFFF;
}
.lower-navigation .lower-navigation-content ul li a:hover {
  mix-blend-mode: normal;
  opacity: 0.8;
}
.lower-navigation .lower-navigation-content ul li a#news {
  padding-bottom: 0;
  border-bottom: 6px solid #299EC3;
}
.lower-navigation .lower-navigation-content ul li a#news.active {
  background-color: #299EC3;
}
.lower-navigation .lower-navigation-content ul li a#business {
  padding-bottom: 0;
  border-bottom: 6px solid #EE6151;
}
.lower-navigation .lower-navigation-content ul li a#business.active {
  background-color: #EE6151;
}
.lower-navigation .lower-navigation-content ul li a#sport {
  padding-bottom: 0;
  border-bottom: 6px solid #84C14F;
}
.lower-navigation .lower-navigation-content ul li a#sport.active {
  background-color: #84C14F;
}
.lower-navigation .lower-navigation-content ul li a#life {
  padding-bottom: 0;
  border-bottom: 6px solid #5DCFF3;
}
.lower-navigation .lower-navigation-content ul li a#life.active {
  background-color: #5DCFF3;
}
.lower-navigation .lower-navigation-content ul li a#tech {
  padding-bottom: 0;
  border-bottom: 6px solid #FCC44D;
}
.lower-navigation .lower-navigation-content ul li a#tech.active {
  background-color: #FCC44D;
}
.lower-navigation .lower-navigation-content ul li a#travel {
  padding-bottom: 0;
  border-bottom: 6px solid #A99765;
}
.lower-navigation .lower-navigation-content ul li a#travel.active {
  background-color: #A99765;
}

.center-articles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.center-articles .main-articles {
  max-width: 635px;
  width: 100%;
  margin: 15px 18px 0 0;
}
.center-articles .main-articles .news {
  position: relative;
  width: 100%;
  background: #FFFFFF;
  padding: 25px;
  border-left: 13px solid #299EC3;
  margin-bottom: 17px;
}
.center-articles .main-articles .sport {
  position: relative;
  width: 100%;
  background: #FFFFFF;
  padding: 25px;
  border-left: 13px solid #84C14F;
  margin-bottom: 17px;
}
.center-articles .main-articles .business {
  position: relative;
  width: 100%;
  background: #FFFFFF;
  padding: 25px;
  border-left: 13px solid #EE6151;
  margin-bottom: 17px;
}
.center-articles .main-articles .life {
  position: relative;
  width: 100%;
  background: #FFFFFF;
  padding: 25px;
  border-left: 13px solid #5DCFF3;
  margin-bottom: 17px;
}
.center-articles .main-articles .tech {
  position: relative;
  width: 100%;
  background: #FFFFFF;
  padding: 25px;
  border-left: 13px solid #FCC44D;
  margin-bottom: 17px;
}
.center-articles .main-articles .travel {
  position: relative;
  width: 100%;
  background: #FFFFFF;
  padding: 25px;
  border-left: 13px solid #A99765;
  margin-bottom: 17px;
}
.center-articles .main-articles .news-carousel {
  position: relative;
  width: 100%;
  background: #FFFFFF;
  padding: 25px;
  border-left: 13px solid #FCC44D;
  margin-bottom: 17px;
}
.center-articles .main-articles .single-carousels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.center-articles .main-articles .single-carousels .pimcore_area_content {
  width: 48%;
}
.center-articles .main-articles .single-carousels .pimcore_area_content .single-carousel {
  position: relative;
  width: 100%;
  background: #FFFFFF;
  padding: 25px;
  border-left: 13px solid #A99765;
  margin-bottom: 17px;
}
.center-articles .main-articles .main-article-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.center-articles .main-articles .main-article-top h1 {
  font-family: "Bitter";
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #363F48;
  padding-bottom: 15px;
}
.center-articles .main-articles .main-article-top a {
  font-family: "Varela Round";
  color: #3677B5;
  border-bottom: 2px solid #3677B54D;
  padding: 0;
  margin: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.center-articles .main-articles .main-article-top a:hover {
  opacity: 0.8;
}
.center-articles .main-articles .main-article-top .arrows img {
  margin: 7px;
  cursor: pointer;
}
.center-articles .main-articles .articles {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.center-articles .main-articles .articles.wrap {
  flex-wrap: wrap;
}
.center-articles .main-articles .articles .medium-article {
  width: 100%;
  margin: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.center-articles .main-articles .articles .medium-article:hover {
  opacity: 0.85;
}
.center-articles .main-articles .articles .medium-article img {
  width: 100%;
  height: 128px;
  -o-object-fit: cover;
     object-fit: cover;
}
.center-articles .main-articles .articles .medium-article img.carousel-article-image {
  height: 150px;
}
.center-articles .main-articles .articles .medium-article .article-date-and-views {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 0;
}
.center-articles .main-articles .articles .medium-article .article-date-and-views p {
  font-family: "Varela Round", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #666666;
}
.center-articles .main-articles .articles .medium-article .article-title {
  font-family: "Bitter";
  font-weight: bold;
  font-size: 14px;
  line-height: 16.8px;
  color: #363F48;
}
.center-articles .main-articles .articles .small-article {
  width: 48%;
  margin: 5px;
  display: flex;
  flex-direction: row;
  padding: 5px 0;
  cursor: pointer;
}
.center-articles .main-articles .articles .small-article:hover {
  opacity: 0.85;
}
.center-articles .main-articles .articles .small-article img {
  width: 120px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.center-articles .main-articles .articles .small-article .article-side {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.center-articles .main-articles .articles .small-article .article-side .article-date-and-views {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 0;
}
.center-articles .main-articles .articles .small-article .article-side .article-date-and-views p {
  font-family: "Varela Round", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #666666;
}
.center-articles .main-articles .articles .small-article .article-side .article-title {
  font-family: "Bitter";
  font-weight: bold;
  font-size: 14px;
  line-height: 16.8px;
  color: #363F48;
}
.center-articles .main-articles .category-articles {
  width: 100%;
  background-color: #FFFFFF;
  padding: 25px;
}
.center-articles .main-articles .category-articles .category-title {
  font-family: "Bitter";
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #363F48;
  padding-bottom: 35px;
}
.center-articles .main-articles .category-articles .category-article {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}
.center-articles .main-articles .category-articles .category-article .title {
  color: #363F48;
  font-family: "Bitter";
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  padding-bottom: 15px;
}
.center-articles .main-articles .category-articles .category-article .data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}
.center-articles .main-articles .category-articles .category-article .data .date {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.center-articles .main-articles .category-articles .category-article .data .date img {
  padding-right: 10px;
}
.center-articles .main-articles .category-articles .category-article .data .date .dat {
  color: #666666;
  font-family: "Varela Round", sans-serif;
  font-size: 12px;
  line-height: 14px;
}
.center-articles .main-articles .category-articles .category-article .data .author {
  color: #666666;
  font-family: "Varela Round", sans-serif;
  font-size: 12px;
  line-height: 14px;
}
.center-articles .main-articles .category-articles .category-article .data .comments {
  color: #666666;
  font-family: "Varela Round", sans-serif;
  font-size: 12px;
  line-height: 14px;
}
.center-articles .main-articles .category-articles .category-article .body {
  display: flex;
  flex-direction: row;
  padding: 5px 0 30px;
}
.center-articles .main-articles .category-articles .category-article .body img {
  padding: 10px 20px 0 0;
  align-self: flex-start;
}
.center-articles .main-articles .category-articles .category-article .body .text-button {
  display: flex;
  flex-direction: column;
}
.center-articles .main-articles .category-articles .category-article .body .text-button .text {
  color: #444444;
  font-size: 14px;
  line-height: 22px;
  padding-bottom: 15px;
}
.center-articles .main-articles .category-articles .category-article .body .text-button a {
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
  line-height: 17px;
  background-color: #4D4382;
  color: #FFFFFF;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  padding: 8px 22px;
}
.center-articles .main-articles .category-articles .category-article .body .text-button a:hover {
  opacity: 0.9;
}
.center-articles .main-articles .category-articles .category-hr {
  border-color: #DDDDDD;
}
.center-articles .main-articles .category-articles .page-numbers {
  padding: 40px 0 1px;
}
.center-articles .main-articles .category-articles .page-numbers ul li {
  display: inline;
  margin: 2px;
}
.center-articles .main-articles .category-articles .page-numbers ul li a {
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #4D4382;
  background-color: #DDDDDD;
  padding: 8px 12px;
}
.center-articles .main-articles .category-articles .page-numbers ul li a.active {
  background-color: #4D4382;
  color: #FFFFFF;
}
.center-articles .main-articles .category-articles .page-numbers ul li a:hover {
  opacity: 0.8;
}
.center-articles .main-articles .article {
  background-color: #FFFFFF;
  padding: 30px 30px 0;
}
.center-articles .main-articles .article p {
  padding-bottom: 30px;
  font-family: "Bitter";
  font-size: 14px;
  line-height: 22px;
  color: #444444;
}
.center-articles .main-articles .article img {
  width: 100%;
}
.center-articles .main-articles .article .social {
  padding: 10px 0 18px;
}
.center-articles .main-articles .author-section {
  background-color: #FFFFFF;
  padding: 18px 30px 30px;
  margin-bottom: 20px;
}
.center-articles .main-articles .author-section .title {
  font-family: "Bitter";
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #363F48;
  padding-bottom: 30px;
}
.center-articles .main-articles .author-section .author-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.center-articles .main-articles .author-section .author-content .about-author {
  color: #363F48;
  font-family: "Varela";
  font-size: 14px;
  line-height: 20px;
  padding-left: 20px;
}
.center-articles .main-articles .comments-section {
  background-color: #FFFFFF;
  margin-bottom: 40px;
}
.center-articles .main-articles .comments-section .title {
  color: #363F48;
  font-family: "Bitter";
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  padding: 18px 30px;
}
.center-articles .main-articles .comments-section .comments {
  padding: 15px 30px;
}
.center-articles .main-articles .comments-section .comments .comment {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-bottom: 40px;
}
.center-articles .main-articles .comments-section .comments .comment:last-child {
  padding-bottom: 0;
}
.center-articles .main-articles .comments-section .comments .comment .comment-body {
  position: relative;
  padding-left: 18px;
  width: 100%;
}
.center-articles .main-articles .comments-section .comments .comment .comment-body .top {
  display: flex;
  flex-direction: row;
  padding-bottom: 3px;
}
.center-articles .main-articles .comments-section .comments .comment .comment-body .top .user-name {
  font-family: "Bitter";
  font-size: 18px;
  line-height: 20px;
  color: #4D4382;
  padding-right: 10px;
}
.center-articles .main-articles .comments-section .comments .comment .comment-body .top .date {
  font-family: "Varela";
  font-size: 11px;
  line-height: 20px;
  color: #666666;
}
.center-articles .main-articles .comments-section .comments .comment .comment-body .text {
  color: #444444;
  font-family: "Varela";
  font-size: 13px;
  line-height: 20px;
}
.center-articles .main-articles .comments-section .comments .comment .comment-body .comment-reply {
  position: absolute;
  top: 0;
  right: 0;
  color: #4D4382;
  font-family: "Varela Round";
  font-size: 14px;
  line-height: 17px;
}
.center-articles .main-articles .comments-section .comments .comment .comment-body .comment-reply:hover {
  opacity: 0.8;
}
.center-articles .main-articles .comments-section .add-comment {
  padding: 8px 30px;
}
.center-articles .main-articles .comments-section .add-comment .text {
  color: #444444;
  font-family: "Varela";
  font-size: 13px;
  line-height: 20px;
  padding-bottom: 25px;
}
.center-articles .main-articles .comments-section .add-comment .add-comment-form {
  display: flex;
  flex-direction: column;
}
.center-articles .main-articles .comments-section .add-comment .add-comment-form input, .center-articles .main-articles .comments-section .add-comment .add-comment-form textarea {
  width: 50%;
  padding: 10px 15px;
  margin: 4px 0;
  border: none;
  background-color: #DDDDDD;
  font-family: "Varela Round";
  font-size: 14px;
  line-height: 17px;
  color: #666666;
}
.center-articles .main-articles .comments-section .add-comment .add-comment-form label {
  display: none;
}
.center-articles .main-articles .comments-section .add-comment .add-comment-form .add-comment-button {
  margin: 14px 0;
  padding: 10px 35px;
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
  line-height: 17px;
  background-color: #4D4382;
  color: #FFFFFF;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
}
.center-articles .main-articles .comments-section .add-comment .add-comment-form .errors ul li {
  color: #EE6151;
  font-weight: bold;
}

.footer-title {
  font-family: "Bitter";
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #CCCCCC;
}

footer {
  width: 100%;
  border-top: 23px solid #4D4382;
  background-color: #252525;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}
footer .footer-container {
  max-width: 960px;
}
footer .footer-container .top-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .footer-container .top-footer .footer-title {
  padding-bottom: 10px;
}
footer .footer-container .mid-footer {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
footer .footer-container .mid-footer .footer-title {
  padding-bottom: 25px;
}

.footer-element {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 10px;
}
.footer-element .logo {
  color: #45B0E3;
  display: flex;
  flex-direction: row;
  font-size: 29.623px;
}
.footer-element .logo img {
  padding-right: 18px;
}
.footer-element .text {
  color: #666666;
  padding: 23px 0;
}
.footer-element .social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-element .social a:hover {
  opacity: 0.8;
}
.footer-element form {
  width: 100%;
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  flex-direction: row;
}
.footer-element form input {
  background-color: #333333;
  border: none;
  padding: 15px;
  width: 80%;
}
.footer-element form button {
  position: relative;
  border: none;
  padding: 15px;
  color: #CCCCCC;
  background-color: #4D4382;
}
.footer-element form button:hover {
  color: #FFFFFF;
  cursor: pointer;
}
.footer-element form button:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-color: #000000;
}
.footer-element .links {
  padding-top: 23px;
}
.footer-element .links ul li {
  display: inline-block;
  margin: 5px 0;
}
.footer-element .links ul li a {
  font-family: "Varela";
  font-size: 12px;
  line-height: 20px;
  padding: 5px 8px;
  margin: 0 2px;
  background: #333333;
  color: #666666;
}
.footer-element .links ul li a:hover {
  background-color: #4D4382;
  color: #CCCCCC;
}
.footer-element .footer-article {
  position: relative;
  display: flex;
  flex-direction: row;
  color: #666666;
}
.footer-element .footer-article .article-info {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}
.footer-element .footer-article .article-info .article-info-date-comments {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 2px;
}
.footer-element .footer-article .article-info .article-info-date-comments p {
  font-family: "Varela Round";
  font-size: 10px;
  line-height: 12px;
  color: #666666;
}
.footer-element .footer-article .article-info .article-info-title {
  font-family: "Bitter";
  font-weight: bold;
  font-size: 14px;
  line-height: 16.8px;
  color: #FFFFFF;
}
.footer-element .footer-article .article-image {
  border: 3px solid #FFFFFF;
}
.footer-element .footer-article:hover .article-info .article-info-title {
  text-decoration: underline;
}
.footer-element .footer-tweet {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
}
.footer-element .footer-tweet .footer-tweet-acc {
  display: flex;
  flex-direction: row;
  padding-bottom: 3px;
}
.footer-element .footer-tweet .footer-tweet-acc img {
  margin-right: 5px;
  width: 24px;
  height: 18px;
}
.footer-element .footer-tweet .footer-tweet-acc a {
  color: #666666;
}
.footer-element .footer-tweet .footer-tweet-post {
  font-family: "Varela";
  font-size: 14px;
  line-height: 18px;
  color: #CCCCCC;
}

.bottom-footer {
  width: 960px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4px;
}
.bottom-footer .copyright {
  font-family: "Varela Round", sans-serif;
  font-size: 12px;
  color: #999999;
}
.bottom-footer .links ul li {
  display: inline-block;
  color: #999999;
}
.bottom-footer .links ul li a {
  margin: 0 8px;
  font-family: "Varela Round", sans-serif;
  font-size: 12px;
  color: #999999;
}
.bottom-footer .links ul li a:hover {
  text-decoration: underline;
}

.footer-hr {
  width: 100%;
  height: 1px;
  margin: 60px 0 18px;
  background-color: #666666;
  mix-blend-mode: normal;
  opacity: 0.2;
  border: none;
}

.mid-footer-hr {
  height: 1px;
  background-color: #666666;
  mix-blend-mode: normal;
  opacity: 0.2;
  margin: 20px 0;
  border: none;
}

.main-content {
  margin: 0 auto;
  max-width: 960px;
}

nav {
  background-color: #b1b1b1;
  text-align: center;
}
nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

a {
  color: black;
}

.gallery {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Pimcore edit style */
.edit div {
  color: black;
  background-color: transparent;
}
