.article-slider {
    .slick-arrow {
        z-index: 1;
    }
    .slick-prev {
        @include slick();
        top: 45%;
        left: 28px;
    }
    .slick-next {
        @include slick();
        top: 45%;
        right: 28px;
    }
    .arrows {
        z-index: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;
        img {
            height: 36px;
            &:last-child {
                transform: rotateY(180deg);
            }
        }
    }
}

.slick-slide {
    position: relative;
    .slider-image {
        width: 100%;
    }
    .image-info {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 30px;
        width: 100%;
        height: 45%;
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 70%);
        .article-info {
            display: flex;
            flex-direction: row;
            padding-bottom: 10px;
            .article-date {
                @include articleText();
            }
            .article-comments {
                padding-left: 15px;
                @include articleText();
                display: flex;
                flex-direction: row;
                align-items: center;
                img {
                    padding-right: 6px;
                }
            }
        }
    }
    h1 {
        font-family: "Bitter";
        font-weight: bold;
        font-size: 34px;
        line-height: 40,8px;
        color: $sliderTextColor;
        width: 70%;
        letter-spacing: 2px;
        padding-bottom: 10px;
    }
    .article-link {
        font-family: "Varela Round", sans-serif;
        font-size: $standardFontSize;
        display: inline-block;
        width: 15%;
        text-align: center;
        padding: 5px 15px;
        border: 1px solid $white;
        color: $white;
    }
}