.article-slider {
    height: 600px;
    .slick-arrow {
        z-index: 1;
    }
    .slick-prev {
        @include slick();
        top: 45%;
        left: 28px;
    }
    .slick-next {
        @include slick();
        top: 45%;
        right: 28px;
    }
    .arrows {
        z-index: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;
        pointer-events: none;
        img {
            height: 36px;
            pointer-events: visible;
            &:last-child {
                transform: rotateY(180deg);
            }
        }
    }
}

.slick-slide {
    position: relative;
    .slider-image {
        width: 100%;
        /*
        height: 425px;
        */
        height: 600px;
        object-fit: cover;
    }
    .image-info {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 30px;
        width: 100%;
        /*
        height: 45%;
        */
        height: 40%;
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 70%);
        .article-info {
            display: flex;
            flex-direction: row;
            padding-bottom: 10px;
            .article-date {
                @include articleText();
            }
            .article-comments {
                padding-left: 15px;
                @include articleText();
                display: flex;
                flex-direction: row;
                align-items: center;
                img {
                    padding-right: 6px;
                }
            }
        }
    }
    h1 {
        font-family: "Bitter";
        font-weight: bold;
        font-size: 34px;
        line-height: 40,8px;
        color: $sliderTextColor;
        width: 70%;
        letter-spacing: 2px;
        padding-bottom: 10px;
    }
    .article-link {
        font-family: "Varela Round", sans-serif;
        font-size: $standardFontSize;
        display: inline-block;
        width: 15%;
        text-align: center;
        padding: 5px 15px;
        border: 1px solid $white;
        color: $white;
    }
}

.bottom-slick {
    position: relative;
    margin-bottom: 15px;
    .slider-for {
        position: relative;
        .arrows {
            .slick-arrow {
                z-index: 1;
                &:last-child {
                    transform: rotateY(180deg);
                }
            }
        }
        .slick-prev {
            @include slick();
            top: 35%;
            left: 28px;
        }
        .slick-next {
            @include slick();
            top: 35%;
            right: 28px;
        }
        .search-icon {
            position: absolute;
            top: 42%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            &:hover {
                cursor: pointer;
            }
            img {
                width: 80px;
                height: auto;
            }
        }
        .slider-img {
            img {
                width: 100%;
            }
        }
    }
    .slider-nav {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 80%);
        div {
            cursor: pointer;
        }
        .slick-list {
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            .slick-track {
                margin: 0;
                padding: 0;
                width: 80% !important;
                display: flex;
                flex-direction: row;
                .slick-slide {
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    img {
                        width: 100%;
                        padding: 15px 5px;
                    }
                }
            }
        }
    }
}