* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: $black;
}

body {
    overflow-x: hidden;
    width: 100%;
    color: black;
    /*
    background-color: #eeeeee;
    */
    background-color: $white;
    font-family: "Bitter";
    font-size: $standardFontSize;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}
    
a {
    text-decoration: none;
    color: inherit;
    &:hover {
        color: inherit;
    }
}

hr {
    border-style: solid;
}
    
.control-c {
    &:hover {
        cursor: pointer;
    }
}
