@mixin navigation {
    width: 100%;
    height: 53px;
}

@mixin articleText {
    font-family: "Varela Round", sans-serif;
    font-size: $smallFontSize;
    line-height: 14px;
    color: $sliderTextColor;
}
    
@mixin headerCategoryLinks {
    
}

@mixin mainArticles($color) {
    position: relative;
    width: 100%;
    background: $white;
    padding: 25px;
    border-left: 13px solid $color;
    margin-bottom: 17px;
}

@mixin footerBottomText {
    font-family: "Varela Round", sans-serif;
    font-size: $smallFontSize;
    color: $lightGrey;
}

@mixin slick() {
    position: absolute;
    display: block;
    cursor: pointer;
}