@mixin navigation {
    width: 100%;
    height: 53px;
}

@mixin sectionTitle {
    /*
    font-family: "Bitter";
    */
    font-family: "Posterama Text";
    font-weight: bold;
    font-size: $titleFontSize;
    line-height: 29px;
}

@mixin articleTitle {
    /*
    font-family: "Bitter";
    */
    font-family: "Posterama Text";
    font-weight: bold;
    font-size: $standardFontSize;
    line-height: 16.8px;
}

@mixin articleData {
    font-family: "Varela Round", sans-serif;
    font-size: $smallFontSize;
    line-height: 14px;
}

@mixin articleText {
    font-family: "Varela Round", sans-serif;
    font-size: $smallFontSize;
    line-height: 14px;
    color: $sliderTextColor;
}

@mixin fullArticleText {
    /*
    font-family: "Bitter";
    */
    font-family: "Posterama Text";
    font-size: $standardFontSize;
    line-height: 22px;
    color: $textColor;
}

@mixin commentTitle {
    /*
    font-family: "Bitter";
    */
    font-family: "Posterama Text";
    font-size: $biggerFontSize;
    line-height: 20px;
}

@mixin commentDate {
    font-family: "Varela";
    font-size: 11px;
    line-height: 20px;
}

@mixin commentText {
    font-family: "Varela";
    font-size: 13px;
    line-height: 20px;
}
    
@mixin asideSocialText {
    /*
    font-family: "Bitter";
    */
    font-family: "Posterama Text";
    color: $articleTextColor;
    font-weight: bold;
    font-size: $biggerFontSize;
}

@mixin asideArticleDate {
    font-family: "Varela Round", sans-serif;
    font-size: $smallerFontSize;
    color: $asideGrey;
}

@mixin headerCategoryLinks {
    /*
    font-family: "Bitter";
    */
    font-weight: bold;
    font-size: $biggerFontSize;
    line-height: 22px;
}

@mixin mainArticles($color) {
    position: relative;
    width: 100%;
    background: $white;
    padding: 25px;
    border-left: 13px solid $color;
    margin-bottom: 17px;
}

@mixin articlePageText {
    font-family: "Varela Round";
    font-size: $standardFontSize;
    line-height: 17px;
}

@mixin formText {
    font-family: "Varela Round", sans-serif;
    font-size: 16px;
    line-height: 19px;
}

@mixin smallLinks {
    font-family: "Varela";
    font-size: $smallFontSize;
    line-height: 20px;
}

@mixin tweetText {
    font-family: "Varela";
    font-size: $standardFontSize;
    line-height: 18px;
}

@mixin button {
    font-family: "Varela Round", sans-serif;
    font-size: $standardFontSize;
    line-height: 17px;
    background-color: $purple;
    color: $white;
    width: fit-content;
    border: none;
}

@mixin pages {
    font-family: "Varela Round", sans-serif;
    font-size: $standardFontSize;
    line-height: 17px;
    color: $purple;
    background-color: $grey;
}

@mixin footerBottomText {
    /*
    font-family: "Varela Round", sans-serif;
    */
    font-family: "Source Sans Pro", serif;
    font-size: $smallFontSize;
    color: $lightGrey;
}

@mixin slick() {
    position: absolute;
    display: block;
    cursor: pointer;
}

@mixin animatedUnderline($color) {
    content: "";
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    width: 0;
    height: 3px;
    background-color: $color;
    transition: all .3s cubic-bezier(.77, 0, .175, 1);
}