@mixin navigation {
    width: 100%;
    height: 53px;
}

@mixin sectionTitle {
    /*
    font-family: "Bitter";
    */
    font-family: "Posterama Text";
    font-weight: bold;
    font-size: $titleFontSize;
    line-height: 29px;
}

@mixin articleTitle {
    /*
    font-family: "Bitter";
    */
    font-family: "Posterama Text";
    font-weight: bold;
    font-size: $standardFontSize;
    line-height: 16.8px;
}

@mixin articleData {
    font-family: "Varela Round", sans-serif;
    font-size: $smallFontSize;
    line-height: 14px;
}

@mixin articleText {
    font-family: "Varela Round", sans-serif;
    font-size: $smallFontSize;
    line-height: 14px;
    color: $sliderTextColor;
}

@mixin fullArticleText {
    /*
    font-family: "Bitter";
    */
    font-family: "Posterama Text";
    font-size: $standardFontSize;
    line-height: 22px;
    color: $textColor;
}

@mixin commentTitle {
    /*
    font-family: "Bitter";
    */
    font-family: "Posterama Text";
    font-size: $biggerFontSize;
    line-height: 20px;
}

@mixin commentDate {
    font-family: "Varela";
    font-size: 11px;
    line-height: 20px;
}

@mixin commentText {
    font-family: "Varela";
    font-size: 13px;
    line-height: 20px;
}
    
@mixin asideSocialText {
    /*
    font-family: "Bitter";
    */
    font-family: "Posterama Text";
    color: $articleTextColor;
    font-weight: bold;
    font-size: $biggerFontSize;
}

@mixin asideArticleDate {
    font-family: "Varela Round", sans-serif;
    font-size: $smallerFontSize;
    color: $asideGrey;
}

@mixin headerCategoryLinks {
    /*
    font-family: "Bitter";
    */
    font-weight: bold;
    font-size: $biggerFontSize;
    line-height: 22px;
}

@mixin mainArticles($color) {
    position: relative;
    width: 100%;
    background: $white;
    padding: 25px;
    border-left: 13px solid $color;
    margin-bottom: 17px;
}

@mixin articlePageText {
    font-family: "Varela Round";
    font-size: $standardFontSize;
    line-height: 17px;
}

@mixin formText {
    font-family: "Varela Round", sans-serif;
    font-size: 16px;
    line-height: 19px;
}

@mixin smallLinks {
    font-family: "Varela";
    font-size: $smallFontSize;
    line-height: 20px;
}

@mixin tweetText {
    font-family: "Varela";
    font-size: $standardFontSize;
    line-height: 18px;
}

@mixin button {
    font-family: "Varela Round", sans-serif;
    font-size: $standardFontSize;
    line-height: 17px;
    /*
    background-color: $purple;
    */
    background-color: $factoryBlue;
    color: $white;
    width: fit-content;
    border: none;
}

@mixin pages {
    font-family: "Varela Round", sans-serif;
    font-size: $standardFontSize;
    line-height: 17px;
    color: $factoryBlue;
    background-color: $grey;
}

@mixin footerBottomText {
    /*
    font-family: "Varela Round", sans-serif;
    */
    font-family: "Source Sans Pro", serif;
    font-size: $smallFontSize;
    color: $lightGrey;
}

@mixin slick() {
    position: absolute;
    display: block;
    cursor: pointer;
}

@mixin animatedUnderline($color) {
    content: "";
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    width: 0;
    height: 3px;
    background-color: $color;
    transition: all .3s cubic-bezier(.77, 0, .175, 1);
}

@mixin postDefault {
    ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
        li {
            display: list-item;
            text-align: -webkit-match-parent;
            list-style-type: disc;
        }
    }
    a {
        color: blue;
        &:hover {
            text-decoration: underline;
        }
    }
}

@mixin minimizedTestimonials {
    &.minimized {
        bottom: 0px;
        width: 350px;
        height: 100px;
        .video-testimonial {
            display: none;
        }
        .video-testimonial-minimized {
            position: absolute;
            top: 0;
            width: 350px;
            height: 56px;
            display: none;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            &.visible {
                display: flex;
            }
            .description {
                position: relative;
                max-height: 56px;
                height: fit-content;
                width: 240px;
                padding: 12px 14px;
                background-color: $modalBckg;
                border-radius: 5px;
                p {
                    color: $white;
                    font-family: "Posterama Text";
                    line-height: 1;
                    font-weight: bold;
                }
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 15px;
                    right: -6px;
                    display: block;
                    width: 0;
                    border-style: solid;
                    border-width: 6px 0 6px 6px;
                    border-color: transparent $modalBckg;
                }
                
            }
            .video-and-controls {
                display: flex;
                flex-direction: row;
                justify-content: center;
                position: relative;
                width: 110px;
                height: fit-content;
                .control-buttons {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-content: center;
                    align-items: center;
                    max-height: 24px;
                    //z-index: 1;
                    position: absolute;
                    top: -25px;
                    right: 0;
                    button {
                        background-color: $white;
                        border-radius: 50%;
                        padding: 10px;
                        border: .8px solid black;
                        width: 20px;
                        height: 20px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        i {
                            color: black;
                        }
                        &:hover {
                            opacity: 0.8;
                        }
                    }
                    .maximize-testimonial {
                        font-size: 2em;
                    }
                    .close-testimonial {
                        font-size: 1.4em;
                        margin-left: 5px;
                    }
                }
                .video {
                    position: relative;
                    overflow: hidden;
                    border-radius: 100%;
                    width: 56px;
                    height: 56px;
                    &:after {
                        display: none;
                    }
                    video {
                        object-fit: cover;
                        transform: scale(1.2);
                        width: 100%;
                        height: 100%;
                    }
                    .buttons {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: fit-content;
                        height: fit-content;
                        .video-play-button-minimized {
                            background-color: transparent;
                            border: none;
                            .fa-stack {
                                height: 24px;
                            }
                            .fa-circle {
                                color: $white;
                                font-size: 1.5rem;
                            }
                            .fa-play-circle {
                                font-size: 1.5rem;
                                line-height: 1;
                                border-radius: 50px;
                                color: $factoryBlue;
                                transition: all .3s ease-in-out;
                                &:hover {
                                    color: $factoryRed;
                                }
                            }
                        }
                    }
                    .about {
                        display: none;
                    }
                }
            }
        }
    }
}