$white: #FFFFFF;
$sliderTextColor: #EEF6FA;
$grey: #DDDDDD;
$lighterGrey: #CCCCCC;
$asideGrey: #ACB3BA;
$lightGrey: #999999;
$darkGrey: #666666;
$whiteAlpha: #FFFFFF4D;
$textColor: #444444;
$articleTextColor: #363F48;
$darkerGrey: #333333;
$lightBlack: #222222;
$darkBackgroud: #252525;
$black: #000000;

$purple: #4D4382;
$lighterBlue: #5DCFF3;
$lightBlue: #299EC3;
$darkBlue: #3677B5;
$darkBlueAlpha: #3677B54D;
$logoBLue: #45B0E3;
$red: #EE6151;
$green: #84C14F;
$yellow: #FCC44D;
$yellowLight: #FCC44D4D;
$beige: #A99765;

$maxWidth: 960px;

$biggerFontSize: 18px;
$standardFontSize: 14px;
$smallFontSize: 12px;
$smallerFontSize: 10px;
$titleFontSize: 24px;
$sliderTitleSize: 34px;
$bannerTitleSize: 44px;