$black: #000000;
$darkBackgroud: #252525;
$purple: #4D4382;
$lighterBlue: #5DCFF3;
$lightBlue: #299EC3;
$darkBlue: #3677B5;
$darkBlueAlpha: #3677B54D;
$logoBLue: #45B0E3;
$red: #EE6151;
$green: #84C14F;
$yellow: #FCC44D;
$yellowLight: #FCC44D4D;
$beige: #A99765;
$grey: #DDDDDD;
$darkGrey: #666666;
$darkerGrey: #333333;
$lightGrey: #999999;
$lighterGrey: #CCCCCC;
$asideGrey: #acb3ba;
$sliderTextColor: #EEF6FA;
$articleTextColor: #363F48;
$white: #FFFFFF;
$whiteAlpha: #FFFFFF4D;

$maxWidth: 960px;

$standardFontSize: 14px;
$smallFontSize: 12px;
$smallerFontSize: 10px;
$titleFontSize: 24px;